<div class="appbar" role="banner">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="appbar__titulo">
    Rick and Morty App
  </a>

  <nav class="navegacion">
    <ul class="navegacion__lista">
      <li class="navegacion_item">
        <a class="navegacion__enlace" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
      </li>

      <li class="navegacion_item">
        <a class="navegacion__enlace" routerLink="/personajes" routerLinkActive="active" ariaCurrentWhenActive="page">
          Personajes
        </a>
      </li>

      <li class="navegacion_item">
        <a class="navegacion__enlace" routerLink="/episodios" routerLinkActive="active" ariaCurrentWhenActive="page">
          Episodios
        </a>
      </li>

      <li class="navegacion_item">
        <a class="navegacion__enlace" routerLink="/lugares" routerLinkActive="active" ariaCurrentWhenActive="page">
          Lugares
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="contenido" role="main">
  <router-outlet></router-outlet>
</div>