<div class="inicio">
    <div class="inicio__contenido">
        <h1 class="inicio__titulo">Rick and Morty App</h1>
        <p class="inicio__descripcion">Esta es una aplicación web que consume la API de Rick and Morty.</p>
    </div>

    <div class="inicio__menu">
        <div class="inicio-tarjeta">
            <div class="inicio-tajeta__texto">
                <h2 class="inicio-tarjeta__titulo">
                    <a class="inicio-tarjeta__enlace" routerLink="/personajes" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Personajes</a>
                </h2>
                <p class="inicio-tarjeta__descripcion">Aquí podrás ver todos los personajes de la serie</p>
            </div>
            <img class="inicio-tajeta__imagen" src="./../../assets/imagenes/personajes.jpeg" alt="Personajes">
        </div>

        <div class="inicio-tarjeta">
            <div class="inicio-tajeta__texto">
                <h2 class="inicio-tarjeta__titulo">
                    <a class="inicio-tarjeta__enlace" routerLink=" /episodios" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Episodios
                    </a>
                </h2>
                <p class="inicio-tarjeta__descripcion">Aquí podrás ver todos los episodios de la serie</p>
            </div>
            <img class="inicio-tajeta__imagen" src="./../../assets/imagenes/episodios.jpg" alt="Episodios">
        </div>

        <div class="inicio-tarjeta">
            <div class="inicio-tajeta__texto">
                <h2 class="inicio-tarjeta__titulo">
                    <a class="inicio-tarjeta__enlace" routerLink="/lugares" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Lugares
                    </a>
                </h2>
                <p class="inicio-tarjeta__descripcion">Aquí podrás ver todos los lugares de la serie</p>
            </div>
            <img class="inicio-tajeta__imagen" src="./../../assets/imagenes/localizaciones.jpg" alt="Lugares">
        </div>
    </div>
</div>